body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #dbc590;
    color: #161511;
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 11px;
  }
  
  #manifesto {
    text-align: justify;
    max-width: 600px;
    padding: 25px;
    overflow-y: auto;
    max-height: 80vh;
  }